@media screen and (max-width: 1919px) {
  #coments .nav_slider {
    z-index: 6;
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto -18px;
  }
}
#coments .slide {
  margin-top: 42px;
  overflow-y: visible;
  padding: 0 10px;
  top: 0;
}
@media screen and (min-width: 1920px) {
  #coments .slide {
    padding: 0 30px;
  }
}
@media screen and (max-width: 767px) {
  #coments .slide {
    max-width: 278px;
  }
}

#coments_slider {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

@media screen and (min-width: 768px) and (max-width: 1919px) {
  #images_slider {
    max-width: 384px;
  }
}
#images_slider.prev {
  left: -1600px;
}

.slide_img {
  flex-shrink: 0;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.35);
  bottom: 0;
  cursor: pointer;
  transition: 1s;
}
@media screen and (min-width: 1920px) {
  .slide_img {
    max-width: 170px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1919px) {
  .slide_img {
    max-width: 177px;
  }
}
@media screen and (max-width: 767px) {
  .slide_img {
    max-width: 124px;
  }
}
.slide_img img {
  width: 100%;
}
.slide_img .cite {
  position: absolute;
  bottom: 18px;
  left: 10px;
  opacity: 1;
  transition: 1s;
  z-index: 4;
  font-size: 13px;
  color: #fff;
}
.slide_img .cite span {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.3921568627);
}
@media screen and (max-width: 767px) {
  .slide_img .cite span {
    font-size: 12px;
  }
}
@media screen and (min-width: 1920px) {
  .slide_img .cite {
    left: 17px;
  }
}
.slide_img::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 1;
  background: linear-gradient(180deg, rgba(37, 37, 37, 0.75) 0%, rgba(27, 27, 27, 0.89) 100%);
  z-index: 3;
  transition: 1s;
}
.slide_img:hover {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0);
}
@media screen and (min-width: 1920px) {
  .slide_img:hover {
    bottom: 40px;
  }
}
.slide_img:hover::before,
.slide_img:hover .cite {
  opacity: 0;
}

[class^=slider-button], .block_disabled {
  cursor: pointer;
  position: absolute;
  left: 0;
  z-index: 9;
  transition: 1s;
}
@media screen and (min-width: 768px) and (max-width: 1919px) {
  [class^=slider-button], .block_disabled {
    width: 20px;
  }
}
@media screen and (max-width: 1919px) {
  [class^=slider-button], .block_disabled {
    top: -42px;
    opacity: 0.4;
    width: 16px;
  }
}
@media screen and (min-width: 1920px) {
  #images_slider [class^=slider-button], #images_slider .block_disabled {
    width: 42px;
    opacity: 0.4;
    top: calc(50% - 21px);
  }
}
#images_slider [class^=slider-button]:hover:not(.swiper-button-disabled), #images_slider .block_disabled:hover:not(.swiper-button-disabled) {
  opacity: 1;
}
@media screen and (min-width: 1920px) {
  #video_slider [class^=slider-button], #video_slider .block_disabled {
    width: 22px;
    top: calc(50% - 11px);
  }
}
[class^=slider-button] img, .block_disabled img {
  width: 100%;
}

.slider-button-next, .slider-button-next + .block_disabled {
  left: auto;
  right: 0;
}

.swiper-button-disabled {
  cursor: default;
  z-index: -1;
}
@media screen and (max-width: 1919px) {
  .swiper-button-disabled {
    opacity: 0.07;
  }
}
@media screen and (min-width: 1920px) {
  #video_slider .swiper-button-disabled {
    opacity: 0.4;
  }
}

.video_slide {
  aspect-ratio: 320/199;
  position: relative;
  background: #000;
}
@media screen and (min-width: 1920px) {
  .video_slide {
    max-width: 320px;
  }
  .video_slide::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    opacity: 1;
    background: linear-gradient(0deg, rgba(19, 19, 19, 0.6) 0%, rgba(19, 19, 19, 0.6) 100%);
    transition: opacity 1.5s, all 1s;
  }
  .video_slide:hover::before, .video_slide.active_video::before {
    opacity: 0;
    width: 0;
    height: 0;
    border-radius: 50%;
    inset: 50%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1919px) {
  .video_slide {
    width: calc(100% - 50px);
    max-width: 280px;
  }
}
@media screen and (max-width: 767px) {
  .video_slide {
    width: 100%;
  }
}
.video_slide .player {
  width: 100%;
  height: 100%;
}
.video_slide div.player {
  cursor: pointer;
}
.video_slide div.player img {
  width: 100%;
}

.disabled_btn_active_video {
  cursor: default;
  color: #FCFFD4;
  opacity: 0.2;
}

.block_disabled {
  display: none;
  opacity: 0;
  cursor: default;
  aspect-ratio: 1/1;
}
.swiper-button-disabled + .block_disabled {
  display: block;
}
#coment_modal {
  padding-top: 30px;
  width: -moz-fit-content;
  width: fit-content;
  opacity: 1;
  transition: opacity 200ms;
}
@media screen and (max-width: 767px) {
  #coment_modal {
    max-width: calc(100vw - 44px);
  }
}
#coment_modal #coment_img {
  max-width: 480px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  #coment_modal h2, #coment_modal p {
    margin: 15px auto;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  #coment_modal h2, #coment_modal p {
    margin: 15px 0;
    margin-left: 16px;
    max-width: calc(100% - 70px);
    text-align: left;
  }
}
#coment_modal button {
  position: fixed;
  left: 0;
  background: none;
  border: 0;
  opacity: 1;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  #coment_modal button {
    width: 44px;
    top: calc(50vh - 22px);
  }
}
@media screen and (max-width: 767px) {
  #coment_modal button {
    top: calc(50vh - 11px);
    width: 22px;
  }
}
#coment_modal button img {
  width: 100%;
}
#coment_modal button[disabled] {
  cursor: default;
  opacity: 0.4;
}
#coment_modal .coment_moda_btn_next {
  right: 0;
  left: auto;
}

#services {
  overflow: hidden;
  position: relative;
}
#services .flexSB {
  flex-wrap: wrap;
  width: 100%;
}
@media screen and (min-width: 1920px) {
  #services .flexSB {
    gap: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1919px) {
  #services .flexSB {
    gap: 20px;
  }
}

.service {
  border-radius: 3px;
  overflow: hidden;
  box-sizing: border-box;
  padding: 30px 22px;
  position: relative;
  cursor: pointer;
}
.service::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  background: linear-gradient(120deg, #95803D 2.42%, #564715 107.07%);
  width: 0;
  height: 0;
  opacity: 0;
  border-radius: 0 0 50% 0;
  transition: width 1s, height 1s, opacity 2s, border-radius 1s;
  z-index: 1;
}
.service * {
  position: relative;
  z-index: 9;
}
@media screen and (max-width: 767px) {
  .service {
    margin-bottom: 25px;
    padding: 24px 8px;
  }
}
.service img {
  float: left;
}
.service_num {
  font-size: 20px;
}
.service > p {
  max-width: 310px;
  font-size: 15px;
  color: #fff;
  opacity: 0.5;
  clear: both;
}
.service:hover::before {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  border-radius: inherit;
}

@media screen and (min-width: 768px) {
  #service_descr {
    align-items: flex-end;
  }
}
#service_descr > img {
  height: 454px;
}
@media screen and (max-width: 767px) {
  #service_descr > img {
    display: none;
  }
}
#service_descr .block_text {
  margin: 66px;
}
@media screen and (min-width: 768px) and (max-width: 1919px) {
  #service_descr .block_text {
    width: 336px;
    margin: 34px;
  }
}
@media screen and (min-width: 768px) {
  #service_descr .block_text {
    margin-top: 25px;
  }
}
@media screen and (min-width: 1920px) {
  #service_descr .block_text {
    width: 436px;
  }
}
#service_descr h2 {
  margin-bottom: 45px;
  text-align: left;
}
@media screen and (min-width: 768px) and (max-width: 1919px) {
  #service_descr h2 {
    font-size: 25px;
  }
}
#service_descr p {
  margin-bottom: 20px;
  color: #fff;
  opacity: 0.4;
  font-size: 14px;
}
#service_descr .a_be {
  margin-top: 35px;
}
#service_descr .a_be a {
  margin-bottom: 0;
}

input {
  border: 0;
  border-bottom: 1.5px solid;
  background: none;
}

[type=text] {
  display: block;
  box-sizing: border-box;
  padding: 6px 12px;
  margin-top: 22px;
}
.darck [type=text] {
  color: #fff;
  border-color: #fff;
}
.light [type=text] {
  color: #333;
  border-color: #333;
}
[type=text]::-moz-placeholder {
  opacity: 0.5;
  font-size: 14px;
}
[type=text]::placeholder {
  opacity: 0.5;
  font-size: 14px;
}
.darck [type=text]::-moz-placeholder {
  color: #E0E0E0;
}
.darck [type=text]::placeholder {
  color: #E0E0E0;
}
.light [type=text]::-moz-placeholder {
  color: #4f4f4f;
}
.light [type=text]::placeholder {
  color: #4f4f4f;
}

[type=submit] {
  padding-bottom: 4px;
  margin: 38px auto 17px;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}
.darck [type=submit] {
  color: #FCFFD4;
  border-color: #FCFFD4;
}
.light [type=submit] {
  color: #4f4f4f;
  border-color: #333;
}
@media screen and (max-width: 767px) {
  [type=submit] {
    margin: 23px auto;
  }
}
[type=submit][disabled] {
  cursor: default;
  opacity: 0.4;
}

form + p {
  font-size: 9px;
  opacity: 0.6;
  max-width: 254px;
  margin: 0 auto;
}
.darck form + p {
  color: #fff;
}

#shadow_block .modal_form {
  border-radius: 50px 0px;
  background: rgba(37, 37, 37, 0.98);
  box-shadow: 11px 11px 34px 0px rgba(0, 0, 0, 0.75);
  padding: 78px 70px;
}
#shadow_block .modal_form p {
  text-align: center;
}
#shadow_block .modal_form form {
  padding: 0 10px;
}
#shadow_block .modal_form form input {
  margin-inline: auto;
}
#shadow_block .modal_form .h_form {
  font-size: 23px;
}
#shadow_block .modal_form.darck .h_form {
  color: #F2F2F2;
}

.darck #post_form_modal {
  color: #F2F2F2;
}

#block_form, #post_form {
  max-width: 328px;
  box-sizing: border-box;
  border: 1px solid;
  border-radius: 30px 0;
}
.darck #block_form, .darck #post_form {
  color: #fff;
  border-color: rgba(255, 255, 255, 0.4);
}
.light #block_form, .light #post_form {
  color: #423805;
}
@media screen and (min-width: 1920px) {
  #block_form, #post_form {
    padding: 68px 31px;
    height: 408px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1919px) {
  #block_form, #post_form {
    padding: 59px 44px;
    height: 388px;
    margin: 78px auto 0;
  }
}
@media screen and (max-width: 767px) {
  #block_form, #post_form {
    padding: 48px 44px;
    height: 368px;
    margin: 35px auto 0;
  }
}
#block_form [type=text], #post_form [type=text] {
  width: 100%;
}
#block_form p, #post_form p, #block_form h3, #post_form h3 {
  text-align: center;
}
#block_form h3, #post_form h3 {
  font-weight: 400;
}

#post_form {
  display: none;
  justify-content: center;
  align-items: center;
}
#post_form p {
  font-size: 20px;
  opacity: 1;
}

@media screen and (min-width: 768px) and (max-width: 1919px) {
  header .flexSB {
    min-width: 808px;
  }
}
@media screen and (min-width: 1920px) {
  header .block_text {
    width: 538px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1919px) {
  header .block_text {
    width: 427px;
  }
}
@media screen and (min-width: 1920px) {
  header .block_text h1 {
    font-size: 60px;
  }
}
@media screen and (max-width: 767px) {
  header .block_text h1 {
    font-size: 41px;
  }
}
header .block_text .line {
  width: 183px;
  height: 1px;
  opacity: 0.4;
  background: #000;
  margin: 18px 0 26px;
}
@media screen and (min-width: 1920px) {
  header .block_text .line {
    margin: 75px 0 40px;
  }
}
header .block_text .line + p::first-letter {
  font-size: 50px;
  line-height: 50%;
}
@media screen and (max-width: 767px) {
  header .block_text .line + p::first-letter {
    font-size: 41px;
  }
}
header .block_text p {
  color: #000;
  margin-top: 18px;
}
@media screen and (min-width: 1920px) {
  header .block_text p {
    margin-top: 30px;
  }
}
@media screen and (min-width: 1920px) {
  header .img_and_t {
    margin-top: -28px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1919px) {
  header .img_and_t {
    width: 382px;
  }
}
@media screen and (max-width: 1919px) {
  header .img_and_t img {
    width: 100%;
  }
}

#block1 {
  background: linear-gradient(226deg, #0B0B0B 16.25%, #393319 102.54%);
}

#services {
  margin-bottom: 55px;
}
@media screen and (min-width: 1920px) {
  #services {
    margin-bottom: 140px;
  }
}

@media screen and (min-width: 1920px) {
  .service {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 768px) and (max-width: 1919px) {
  .service {
    width: calc((100% - 20px) / 2);
  }
}
@media screen and (min-width: 768px) and (max-width: 1919px) {
  .service {
    padding: 30px 65px;
  }
}
.service_num {
  width: 100%;
  width: calc(100% - 64px);
  margin-bottom: 14px;
  opacity: 0.5;
  color: rgba(252, 255, 212, 0.5);
}
.service .service_h {
  margin-bottom: 10px;
}
.service .service_h p {
  font-size: 20px;
  margin-left: 36px;
}
.service::before {
  width: 100%;
  height: 100%;
  border-radius: initial;
  transition: opacity 1s;
}

#achievements {
  flex-wrap: wrap;
  margin-top: 5px;
}
@media screen and (min-width: 1920px) {
  #achievements {
    margin-top: 17px;
  }
}

.achievement {
  margin-top: 30px;
  text-align: center;
}
@media screen and (min-width: 1920px) {
  .achievement {
    width: 20%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1919px) {
  .achievement {
    width: 50%;
  }
}
.achievement .num {
  font-size: 73px;
}
.achievement p {
  font-size: 23px;
}

#p_and_form {
  margin-top: 52px;
}
@media screen and (min-width: 1920px) {
  #p_and_form {
    margin-top: 62px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1919px) {
  #p_and_form {
    display: block;
  }
}
#p_and_form > p {
  font-size: 30px;
}
@media screen and (min-width: 1920px) {
  #p_and_form > p {
    width: 606px;
    margin-top: 75px;
  }
}
@media screen and (max-width: 1919px) {
  #p_and_form > p {
    text-align: center;
  }
}
#p_and_form #block_form, #p_and_form #post_form {
  border-radius: 0;
  box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.35);
}/*# sourceMappingURL=about_company.css.map */