header {
  background-image: url(../img/home_img/backg_header.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  overflow: hidden;
}
@media screen and (min-width: 768px) and (max-width: 1919px) {
  header {
    height: 688px;
  }
}
@media screen and (max-width: 767px) {
  header {
    aspect-ratio: 1/2.5;
    min-height: 820px;
    max-width: 91.49vw !important;
  }
  header .yes_small {
    display: block;
    max-width: 292px;
    margin-top: 66px;
    padding: 19px 17px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #FFF;
    box-shadow: 0px 0px 26px 0px rgba(149, 127, 61, 0.68);
  }
}
header .img_and_t img {
  display: none;
  position: relative;
  z-index: 5;
}
@media screen and (min-width: 1920px) {
  header .img_and_t {
    width: 731px;
    max-height: 596px;
  }
  header .img_and_t .img_b {
    display: block;
    margin-left: 31%;
  }
  header .img_and_t .img_disck {
    position: absolute;
    bottom: -55%;
    left: 0;
    margin-left: 0;
    z-index: 1;
  }
}
@media screen and (min-width: 768px) and (max-width: 1919px) {
  header .img_and_t {
    position: absolute;
    right: 0;
  }
}
@media screen and (max-width: 767px) {
  header .img_and_t img {
    width: 100%;
  }
  header .img_and_t .img_m {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
header .img_and_t .text {
  position: absolute;
  top: 70px;
  text-align: right;
}
@media screen and (min-width: 768px) and (max-width: 1919px) {
  header .img_and_t .text {
    left: 30px;
  }
}
@media screen and (max-width: 767px) {
  header .img_and_t .text {
    display: none;
  }
}
@media screen and (min-width: 1920px) {
  header .img_and_t .text {
    left: 60px;
  }
}

.img_and_t {
  position: relative;
}
.img_and_t img {
  display: none;
}
.img_and_t img:not(.img_disck) {
  position: relative;
  z-index: 5;
}
@media screen and (min-width: 1920px) {
  .img_and_t .img_b {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1919px) {
  .img_and_t .img_t {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .img_and_t .img_m {
    display: block;
  }
}
@media screen and (min-width: 1920px) {
  .img_and_t .text {
    font-size: 18px;
  }
}
.img_and_t .text span {
  font-size: 14px;
  opacity: 0.5;
}

h1 {
  font-size: 50px;
}

#block1 {
  background: linear-gradient(117deg, #26241E 35.16%, #15130D 71.84%), #1F1E1B;
}
#block1 > img {
  position: absolute;
  bottom: 0;
  right: calc((100vw - 1170px - 738px) / 2);
}
@media screen and (max-width: 1919px) {
  #block1 > img {
    display: none;
  }
}
#block1 .width {
  position: relative;
  z-index: 4;
}

#services + a {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 35px;
  color: #FFF;
  text-shadow: 0px 0px 5px rgba(252, 255, 212, 0.82);
  font-size: 15px;
}

#block2 {
  background: linear-gradient(107deg, #181616 -4.1%, #1B1A17 91.06%);
  padding-bottom: 0;
  overflow: hidden;
}
#block2 .flex {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}
@media screen and (min-width: 768px) and (max-width: 1919px) {
  #block2 .flex {
    display: block;
  }
}
#block2 .img_and_t {
  margin-bottom: -22px;
}
@media screen and (min-width: 768px) and (max-width: 1919px) {
  #block2 .img_and_t img {
    width: 100%;
  }
}
#block2 .img_disck {
  position: absolute;
  right: 9%;
  top: 43%;
  z-index: 1;
}
#block2 .flexSB {
  position: absolute;
  top: 0;
}
#block2 .block_text {
  width: 45%;
}
@media screen and (max-width: 1919px) {
  #block2 .block_text {
    display: none;
  }
}/*# sourceMappingURL=home.css.map */