#contacts .width {
  position: relative;
}
#contacts .width > img {
  position: absolute;
  bottom: -140px;
  right: -375px;
}
@media screen and (min-width: 768px) {
  #contacts .width > .flexSB {
    margin-top: 65px;
  }
}
@media screen and (max-width: 1919px) {
  #contacts .width > .flexSB {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  #contacts .width > .flexSB {
    margin-top: 40px;
  }
}
@media screen and (min-width: 1920px) {
  #contacts #map_and_contacts {
    width: 670px;
  }
}
@media screen and (max-width: 1919px) {
  #contacts #map_and_contacts {
    width: 100%;
  }
}
#contacts #block_map + .flex {
  color: #fff;
}
@media screen and (min-width: 1920px) {
  #contacts #block_map + .flex {
    -moz-column-gap: 47px;
         column-gap: 47px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1919px) {
  #contacts #block_map + .flex {
    -moz-column-gap: 75px;
         column-gap: 75px;
  }
}
@media screen and (max-width: 767px) {
  #contacts #block_map + .flex {
    display: block;
  }
}
#contacts #block_map + .flex p {
  font-size: 18px;
}
#contacts #schedule {
  font-size: 14px;
  line-height: 126.4%;
  opacity: 0.7;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
@media screen and (max-width: 767px) {
  #contacts #schedule {
    font-size: 12px;
    -moz-column-gap: 18px;
         column-gap: 18px;
    margin-top: 8px;
  }
}
@media screen and (min-width: 1920px) {
  #contacts .el_contacts {
    -moz-column-gap: 12px;
         column-gap: 12px;
    margin-top: 8px;
  }
}
@media screen and (max-width: 1919px) {
  #contacts .el_contacts {
    margin-top: 15px;
  }
}

#block_map {
  overflow: hidden;
  border-radius: 30px 0;
}
@media screen and (min-width: 1920px) {
  #block_map {
    margin-bottom: 18px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1919px) {
  #block_map {
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 767px) {
  #block_map {
    margin-bottom: 24px;
  }
}

#map {
  width: 100%;
  aspect-ratio: 335/144;
}

#block_form, #post_form {
  max-width: 328px;
  box-sizing: border-box;
  border: 1px solid;
  border-radius: 30px 0;
}
.darck #block_form, .darck #post_form {
  color: #fff;
  border-color: rgba(255, 255, 255, 0.4);
}
.light #block_form, .light #post_form {
  color: #423805;
}
@media screen and (min-width: 1920px) {
  #block_form, #post_form {
    padding: 68px 31px;
    height: 408px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1919px) {
  #block_form, #post_form {
    padding: 59px 44px;
    height: 388px;
    margin: 78px auto 0;
  }
}
@media screen and (max-width: 767px) {
  #block_form, #post_form {
    padding: 48px 44px;
    height: 368px;
    margin: 35px auto 0;
  }
}
#block_form input, #post_form input {
  border: 0;
  border-bottom: 1.5px solid;
  background: none;
}
#block_form [type=text], #post_form [type=text] {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 6px 12px;
  margin-top: 22px;
}
.darck #block_form [type=text], .darck #post_form [type=text] {
  color: #fff;
  border-color: #fff;
}
.light #block_form [type=text], .light #post_form [type=text] {
  color: #333;
  border-color: #333;
}
#block_form [type=text]::-moz-placeholder, #post_form [type=text]::-moz-placeholder {
  opacity: 0.5;
  font-size: 14px;
}
#block_form [type=text]::placeholder, #post_form [type=text]::placeholder {
  opacity: 0.5;
  font-size: 14px;
}
.darck #block_form [type=text]::-moz-placeholder, .darck #post_form [type=text]::-moz-placeholder {
  color: #E0E0E0;
}
.darck #block_form [type=text]::placeholder, .darck #post_form [type=text]::placeholder {
  color: #E0E0E0;
}
.light #block_form [type=text]::-moz-placeholder, .light #post_form [type=text]::-moz-placeholder {
  color: #4f4f4f;
}
.light #block_form [type=text]::placeholder, .light #post_form [type=text]::placeholder {
  color: #4f4f4f;
}
#block_form [type=submit], #post_form [type=submit] {
  padding-bottom: 4px;
  margin: 38px auto 17px;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}
.darck #block_form [type=submit], .darck #post_form [type=submit] {
  color: #FCFFD4;
  border-color: #FCFFD4;
}
.light #block_form [type=submit], .light #post_form [type=submit] {
  color: #4f4f4f;
  border-color: #333;
}
@media screen and (max-width: 767px) {
  #block_form [type=submit], #post_form [type=submit] {
    margin: 23px auto;
  }
}
#block_form [type=submit][disabled], #post_form [type=submit][disabled] {
  cursor: default;
  opacity: 0.4;
}
#block_form p, #post_form p, #block_form h3, #post_form h3 {
  text-align: center;
}
#block_form h3, #post_form h3 {
  font-weight: 400;
}
#block_form p, #post_form p {
  font-size: 9px;
  opacity: 0.6;
}

#post_form {
  display: none;
  justify-content: center;
  align-items: center;
}
#post_form p {
  font-size: 20px;
  opacity: 1;
}

header {
  background-image: url(../img/kaices_img/backg_header.png);
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) and (max-width: 1919px) {
  header {
    height: 575px;
  }
}
@media screen and (max-width: 767px) {
  header {
    aspect-ratio: 1/2.59;
    min-height: 955px;
    max-width: 100%;
    min-width: 100%;
    max-height: 1000px;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 768px) and (max-width: 1919px) {
  header .block_text {
    width: 495px;
  }
}
header .img_and_t {
  margin-bottom: -5px;
}
@media screen and (min-width: 1920px) {
  header .img_and_t {
    margin-top: -60px;
    position: relative;
    left: -75px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1919px) {
  header .img_and_t {
    width: 400px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
@media screen and (max-width: 767px) {
  header .img_and_t {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 96%;
    max-width: 490px;
  }
}
@media screen and (max-width: 1919px) {
  header .img_and_t img {
    width: 100%;
  }
}
@media screen and (min-width: 1920px) {
  header #h_icons {
    margin-top: -78px;
  }
}
@media screen and (min-width: 1920px) {
  header #h_icons a {
    margin: 7px 0;
  }
}

#block1 {
  background-image: url(../img/backg_affairs.png);
  background-position: center;
  background-size: cover;
}
#block1 .nav_slider {
  margin-top: -10px;
  z-index: 999;
  position: relative;
}
@media screen and (min-width: 768px) {
  #block1 .nav_slider {
    width: -moz-fit-content;
    width: fit-content;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 768px) and (max-width: 1919px) {
  #block1 .width {
    width: 622px;
  }
}

#kaices_slider {
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  #kaices_slider {
    max-width: 290px;
    margin: 0 auto;
  }
}
#kaices_slider .slide {
  width: 100%;
}
#kaices_slider .swiper-wrapper {
  padding: 15px 0 68px;
}

.kaice {
  border-radius: 35px 3px;
  background: linear-gradient(51deg, #282523 -1.4%, #2F2C29 102.27%);
  box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.28);
  color: #F2F2F2;
  width: 270px;
  box-sizing: border-box;
  padding: 49px 29px 49px 39px;
  cursor: pointer;
}
.kaice p {
  opacity: 0.4;
  margin-top: 5px;
}
.kaice div {
  margin-top: 16px;
}
.kaice .kaice_h {
  position: relative;
  width: 190px;
  margin-top: 0;
  margin-bottom: 12px;
}
.kaice .kaice_h::before {
  content: url(../img/kaices_img/award.png);
  position: absolute;
  right: -25px;
  top: 4px;
}
.kaice .affair_n {
  font-size: 10px;
}

.buttons_slider {
  display: flex;
  -moz-column-gap: 22px;
       column-gap: 22px;
  z-index: 9999999;
}
@media screen and (min-width: 768px) {
  .buttons_slider {
    position: absolute;
    bottom: -10px;
    right: 0;
  }
}
@media screen and (max-width: 767px) {
  .buttons_slider {
    margin: -50px 0 25px;
    justify-content: center;
    position: relative;
  }
}
.buttons_slider div {
  opacity: 0.3;
  transition: 1s;
}
.buttons_slider div:not(.swiper-button-disabled) {
  cursor: pointer;
}
.buttons_slider div:not(.swiper-button-disabled):hover {
  opacity: 1;
}

#shadow_block {
  background: rgba(39, 37, 37, 0.95);
}

#kaice_descr {
  background: rgba(48, 44, 44, 0.9) !important;
}
@media screen and (max-width: 767px) {
  #kaice_descr > img {
    display: none;
  }
}
@media screen and (min-width: 1920px) {
  #kaice_descr .block_text {
    margin: 69px;
    width: 400px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1919px) {
  #kaice_descr .block_text {
    margin: 47px 35px;
    width: 321px;
  }
}
@media screen and (max-width: 767px) {
  #kaice_descr .block_text {
    margin: 40px;
  }
}
#kaice_descr .block_text *:not(#customer) {
  color: #F2F2F2;
  font-size: 18px;
}
#kaice_descr .block_text div:not(#customer) {
  margin: 27px 0 7px;
}
#kaice_descr p {
  opacity: 0.5;
}
#kaice_descr #customer {
  font-size: 20px;
  margin: 0 0 11px;
}
#kaice_descr #affair_n_descr {
  font-size: 14px;
  opacity: 0.4;
}

#contacts {
  background: linear-gradient(247deg, #1F1B1B 16.35%, #282220 113.78%);
}
@media screen and (min-width: 1920px) {
  #contacts #block_map + .flex {
    display: block;
  }
  #contacts #block_map + .flex #schedule {
    margin: 8px 0 24px;
    display: block;
  }
  #contacts #block_map + .flex #schedule div {
    margin: 2px 0;
  }
}
@media screen and (min-width: 1920px) {
  #contacts #block_form, #contacts #post_form {
    position: relative;
    left: -80px;
  }
}/*# sourceMappingURL=kaices.css.map */