@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
header {
  position: relative;
  overflow: hidden;
}
header #flex_header {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 1920px) {
  header #flex_header {
    margin-bottom: 130px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1919px) {
  header #flex_header {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 767px) {
  header #flex_header {
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 1920px) {
  header {
    padding: 40px 19.54vw 0;
  }
  header #flex_header > * {
    display: flex;
    align-items: center;
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
  header .contacts {
    text-align: right;
  }
}
header button {
  border: 0;
  background: none;
}
@media screen and (min-width: 768px) and (max-width: 1919px) {
  header {
    padding: 40px 3vw 0;
  }
  header #h_adres {
    margin-top: 19px;
    opacity: 0.5;
  }
}
@media screen and (max-width: 767px) {
  header {
    padding: 40px 4.255vw 0;
  }
  header #h_adres {
    display: none;
  }
  header .yes_small {
    display: block;
    max-width: 292px;
    margin-top: 66px;
    padding: 19px 17px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #FFF;
    box-shadow: 0px 0px 26px 0px rgba(149, 127, 61, 0.68);
  }
}
header .menu {
  justify-content: space-between;
  list-style: none;
}
@media screen and (min-width: 1920px) {
  .darck header .menu a {
    opacity: 0.5;
  }
  .darck header .menu a:hover {
    opacity: 1;
  }
}

.logo span {
  border-radius: 42% 0;
  padding: 6px;
  font-weight: 700;
}

@media screen and (min-width: 768px) and (max-width: 1919px) {
  #header_block_r {
    display: flex;
    align-items: center;
    -moz-column-gap: 35px;
         column-gap: 35px;
  }
}
@media screen and (max-width: 767px) {
  #header_block_r {
    position: fixed;
    left: calc(100% + 36px);
    transition: left 2s;
    box-shadow: -36px 0px 17px 5px rgba(14, 15, 15, 0.72);
    background: #1e1d1c;
    width: 100%;
    height: 100%;
    padding: 50px 70px;
    top: 0;
    z-index: 99999;
  }
  #header_block_r, #header_block_r a {
    color: #FCFFD4;
  }
  #header_block_r.open {
    left: 0;
  }
  #header_block_r .logo span {
    background: #FCFFD4;
    color: #494411;
  }
  #header_block_r li {
    margin-bottom: 30px;
  }
  #header_block_r .contacts {
    margin-top: 45px;
  }
}
#header_block_r #close {
  position: absolute;
  left: 75vw;
  top: 30px;
  font-size: 45px;
}
@media screen and (min-width: 768px) {
  #header_block_r #close {
    display: none;
  }
}
#header_block_r .logo {
  margin-bottom: 46px;
}
@media screen and (min-width: 768px) {
  #header_block_r .logo {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1919px) {
  .menu {
    -moz-column-gap: 28px;
         column-gap: 28px;
    font-size: 15;
  }
}
.menu a {
  transition: 0.5s;
  font-size: 14px;
}
.light .menu a:hover {
  color: #BEA000;
}

#open_menu,
#close {
  cursor: pointer;
}

#h_icons {
  display: flex;
}
@media screen and (min-width: 1920px) {
  #h_icons {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1919px) {
  #h_icons {
    position: absolute;
    bottom: 10px;
    -moz-column-gap: 58px;
         column-gap: 58px;
  }
  #h_icons .disck,
  #h_icons .line {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  #h_icons {
    display: none;
  }
}
@media screen and (min-width: 1920px) {
  #h_icons a {
    margin: 17.5px 0;
    width: 25px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1919px) {
  #h_icons a {
    width: 23px;
  }
}
#h_icons a img {
  width: 100%;
}
#h_icons .disck {
  border-radius: 50%;
  width: 3px;
  height: 3px;
  background: #fff;
}
#h_icons .line {
  width: 1px;
  height: 116px;
  opacity: 0.5;
}
#h_icons .line.grabien_u {
  background: linear-gradient(#FFF 50%, rgba(255, 255, 255, 0) 102.59%);
  margin-bottom: 35px;
}
#h_icons .line.grabien_d {
  background: linear-gradient(0deg, #FFF 50%, rgba(255, 255, 255, 0) 102.59%);
  margin-top: 35px;
}

footer {
  background: #120F01;
}
@media screen and (min-width: 768px) and (max-width: 1919px) {
  footer .flexSB {
    flex-wrap: wrap;
  }
}
footer .menu {
  flex-wrap: wrap;
}
@media screen and (min-width: 1920px) {
  footer .menu {
    gap: 32px 134px;
    width: 552px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1919px) {
  footer .menu {
    gap: 22px 26%;
    width: 58.5%;
  }
}
@media screen and (max-width: 767px) {
  footer .menu {
    list-style-position: inside;
    margin: 60px 0 54px;
  }
}
footer .menu a {
  color: #F8F8F8;
}
@media screen and (min-width: 1920px) {
  footer .menu a {
    position: relative;
    left: -23px;
    padding-left: 23px;
  }
}
footer .menu span {
  font-size: 15px;
  color: #F8F8F8;
}
footer .menu li {
  font-size: 22px;
}
@media screen and (min-width: 1920px) {
  footer .menu li {
    opacity: 0.5;
    transition: 1s;
  }
  footer .menu li:hover, footer .menu li.active_a {
    opacity: 1;
  }
}
@media screen and (max-width: 767px) {
  footer .menu li:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1920px) {
  footer #footer_block_r {
    padding-left: 70px;
    border-left: 1px solid rgba(248, 248, 248, 0.3);
    height: 50px;
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1919px) {
  footer #footer_block_r {
    width: 100%;
  }
}
footer .adres {
  position: relative;
}
@media screen and (min-width: 1920px) {
  footer .adres {
    margin: -20px 0 12px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1919px) {
  footer .adres {
    width: 190px;
    top: -33px;
  }
}
@media screen and (max-width: 767px) {
  footer .adres {
    margin-bottom: 18px;
  }
}
footer .adres a {
  color: #fff;
  font-size: 14px;
}
@media screen and (min-width: 768px) and (max-width: 1919px) {
  footer .adres a {
    opacity: 0.6;
  }
}
@media screen and (min-width: 1920px) {
  footer .icons img {
    width: 17.6px;
  }
}

body {
  overflow: hidden;
}

.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #1e1d1c;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #FCFFD4;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}
.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes preloader-bounce {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded {
  overflow: auto;
}
.loaded .preloader {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  font-family: PT Serif;
  font-size: 16px;
  font-weight: 400;
}

@media screen and (max-width: 1919px) {
  .open_modal_no_xl {
    overflow: hidden;
  }
}

.width {
  margin: auto;
}
@media screen and (min-width: 1920px) {
  .width {
    max-width: 1170px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1919px) {
  .width {
    max-width: 890px;
  }
}
@media screen and (max-width: 767px) {
  .width {
    max-width: 480px;
  }
}

.darck, .darck a:not(footer .menu a, footer .adres a) {
  color: #FCFFD4;
}
.darck .logo span {
  background: #FCFFD4;
  color: #494411;
}

.light {
  background: linear-gradient(226deg, #F9F8F4 16.25%, #E8E6E2 102.54%);
}
.light, .light a {
  color: #423805;
}
.light .logo span {
  background: #423805;
  color: #F4F3EE;
}

main > div,
footer {
  position: relative;
}
@media screen and (min-width: 1920px) {
  main > div,
  footer {
    padding: 140px 19.54vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1919px) {
  main > div,
  footer {
    padding: 55px 3vw;
  }
}
@media screen and (max-width: 767px) {
  main > div,
  footer {
    padding: 55px 4.255vw;
  }
}

h1 {
  font-size: 50px;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.contacts a {
  display: block;
}

.tel {
  font-size: 18px;
  font-weight: 700;
}

.mail {
  font-style: 14px;
  opacity: 0.3;
  margin-top: 4px;
  transition: 0.5s;
}
.mail:hover {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .flexSB {
    display: flex;
    justify-content: space-between;
  }
}

.a_be {
  margin-top: 45px;
}
@media screen and (max-width: 767px) {
  header .a_be {
    display: none;
  }
}
.a_be button {
  position: relative;
  margin-left: 35px;
  margin-bottom: 35px;
  color: #fff;
}
@media screen and (min-width: 1920px) {
  .a_be button {
    opacity: 0.6;
    transition: 0.5s;
  }
  .a_be button:hover {
    opacity: 1;
  }
}
.a_be button::before {
  position: absolute;
  left: -35px;
}
.a_be button.be_phone::before {
  content: url(../img/home_img/phone-call\ 1.png);
}
.a_be button.be_doc::before {
  content: url(../img/home_img/file-text\ 1.png);
}

.border_gradient {
  border-bottom: 2px solid transparent;
  -o-border-image: linear-gradient(90deg, #FCFFD4 0%, rgba(0, 0, 0, 0) 101.45%);
     border-image: linear-gradient(90deg, #FCFFD4 0%, rgba(0, 0, 0, 0) 101.45%);
  border-image-slice: 1;
  padding-bottom: 8px;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .yes_small,
  #open_menu {
    display: none !important;
  }
}

h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 15px;
}

.slide {
  position: absolute;
  transition: 1s;
  top: 0;
}
.slide.active {
  position: relative;
  left: 0;
}
.slide.next {
  left: 100%;
}
.slide.prev {
  left: -100%;
}

.nav_slider {
  display: flex;
  justify-content: center;
  -moz-column-gap: 14px;
       column-gap: 14px;
  align-items: center;
  margin-bottom: 30px;
}
.nav_slider button {
  font-size: 14px;
  background: none;
  border: 0;
  color: #fff;
  transition: 1s;
}
.nav_slider button:not([disabled]) {
  opacity: 0.5;
  cursor: pointer;
}
.nav_slider button[disabled]:not(.disabled_btn_active_video), .nav_slider button:hover:not(.disabled_btn_active_video) {
  color: #FCFFD4;
  opacity: 1;
}
.nav_slider button[disabled]:not(.disabled_btn_active_video) + .nav_line div {
  left: 0;
}
.nav_slider button[disabled]:not(.disabled_btn_active_video) + .nav_line::before {
  width: 0;
}
.nav_slider .nav_line {
  height: 2px;
  width: 30px;
  position: relative;
  background: linear-gradient(90deg, #FCFFD4 0%, rgba(0, 0, 0, 0) 98.7%);
}
.nav_slider .nav_line::before {
  content: "";
  background: linear-gradient(270deg, #FCFFD4 0%, rgba(0, 0, 0, 0.8) 98.7%);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transition: 1s;
  z-index: 1;
}
.nav_slider .nav_line div {
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background: #fff;
  position: absolute;
  left: 100%;
  top: -1.5px;
  transition: 1s;
  z-index: 2;
}

#shadow_block {
  position: fixed;
  inset: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(26, 25, 22, 0.84);
  z-index: 999999;
}
#shadow_block > div {
  position: relative;
  border-radius: 35px 0;
  background: linear-gradient(214deg, #2D2B23 9.6%, #292923 108.65%);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.33);
  display: none;
  max-height: 100%;
  overflow-y: auto;
}

.close {
  position: absolute;
  top: 20px;
  right: 17px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.4);
  color: #FCFFD4;
  aspect-ratio: 1/1;
  text-align: center;
  cursor: pointer;
}
@media screen and (min-width: 1920px) {
  .close {
    transition: 0.7s;
    padding: 4px;
    width: 9px;
  }
  .close:hover {
    background: rgba(0, 0, 0, 0.4);
    width: 16px;
    padding: 8px;
  }
}
@media screen and (max-width: 1919px) {
  .close {
    padding: 12px;
    top: 60px;
  }
}
.close img {
  width: 100%;
  display: block;
}
@media screen and (max-width: 1919px) {
  .close img {
    margin-bottom: -3px;
  }
}

.icons {
  display: flex;
  -moz-column-gap: 14px;
       column-gap: 14px;
}
@media screen and (min-width: 768px) {
  .icons a {
    opacity: 0.5;
    transition: 1s;
  }
  .icons a:hover {
    opacity: 1;
  }
}

@media screen and (min-width: 1920px) {
  .no_xl {
    display: none !important;
  }
}

@media screen and (max-width: 1919px) {
  .yes_xl {
    display: none;
  }
}

h3 {
  font-size: 20px;
}

.backg {
  position: absolute;
  inset: 0;
}

.el_contacts {
  -moz-column-gap: 22px;
       column-gap: 22px;
}/*# sourceMappingURL=style.css.map */