#services {
   overflow: hidden;
   position: relative;

   .flexSB {
      flex-wrap: wrap;
      width: 100%;

      @include xl {
         gap: 30px;
      }

      @include t {
         gap: 20px;
      }
   }

}

.service {
   border-radius: 3px;
   overflow: hidden;
   box-sizing: border-box;
   padding: 30px 22px;
   position: relative;
   cursor: pointer;

   &::before {
      position: absolute;
      left: 0;
      top: 0;
      content: "";
      background: linear-gradient(120deg, #95803D 2.42%, #564715 107.07%);
      width: 0;
      height: 0;
      opacity: 0;
      border-radius: 0 0 50% 0;
      transition: width 1s, height 1s, opacity 2s, border-radius 1s;
      z-index: 1;
   }

   * {
      position: relative;
      z-index: 9;
   }


   

   @include mob {
      margin-bottom: 25px;
      padding: 24px 8px;
   }

   >p {
      max-width: 310px;
      font-size: 15px;
      color: #fff;
      opacity: 0.5;
   }

   &:hover {
      &::before {
         bottom: 0;
         right: 0;
         width: 100%;
         height: 100%;
         opacity: 1;
         border-radius: inherit;
      }

   }
}
#service_descr {
   align-items: flex-end;

   >img {
      height: 454px;
      @include mob {
         display: none;
      }
   }

   .block_text {
      margin: 66px;
      @include t {
         width: 336px;
         margin: 34px;
      }
      @include t-u {
         margin-top: 25px;
      }
      
      @include xl {
         width: 436px;
      }
   }

   h2 {
      margin-bottom: 45px;
      text-align: left;
      @include t {
         font-size: 25px;
      }
   }

   p {
      margin-bottom: 20px;
      color: #fff;
      opacity: 0.4;
      font-size: 14px;
   }

   .a_be {
      margin-top: 35px;
      
      a{
         margin-bottom: 0;
      }
   }
   
}
