#contacts {
   .width{
      position: relative;
      
      >img{
         position: absolute;
         bottom: -140px;
         right: -375px;
      }
      >.flexSB {
         @include t-u {
            margin-top: 65px;
         }
   
         @include mob-and-t {
            display: block;
         }
   
         @include mob {
            margin-top: 40px;
         }
      }
   }
   #map_and_contacts{
      @include xl {
         width: 670px;
      }
      @include mob-and-t {
         width: 100%;
      }
   }
   #block_map+.flex{
         color: #fff;
         @include xl {
            column-gap: 47px;
         }
         @include t {
            column-gap: 75px;
         }
         @include mob {
            display: block;
         }
         p{
            font-size: 18px;
         }
      }
      
   #schedule{
      font-size: 14px;
      line-height: 126.4%;
      opacity: 0.7;
      column-gap: 25px;
      @include mob {
         font-size: 12px;
         column-gap: 18px;
         margin-top: 8px;
      }
   }

   .el_contacts{
      @include xl {
         column-gap: 12px;
         margin-top: 8px;
      }
      @include mob-and-t {
         margin-top: 15px;
      }

   }
}

#block_map {
   overflow: hidden;
   border-radius: 30px 0;

   @include xl {
      margin-bottom: 18px;
   }

   @include t {
      margin-bottom: 32px;
   }

   @include mob {
      margin-bottom: 24px;
   }
}

#map {
   width: 100%;
   aspect-ratio: 335/144;
}