input{
   border: 0;
   border-bottom: 1.5px solid;
   background: none;
}
[type="text"], 
[type="email"]{
   display: block;
   box-sizing: border-box;
   padding: 6px 12px;
   margin-top: 22px;
   .darck &{
      color: #fff;
      border-color: #fff;
   }
   .light &{
      color: #333;
      border-color: #333;
   }
   &::placeholder{
      opacity: 0.5;
      font-size: 14px;
      .darck &{
         color: #E0E0E0;
      }
      .light &{
         color: #4f4f4f;
      }
   }
}
[type="submit"]{
   padding-bottom: 4px;
   margin: 38px auto 17px;
   display: block;
   width: fit-content;
   cursor: pointer;
   .darck &{
      color: $yellow; 
      border-color: $yellow;
   }
   .light &{
      color: #4f4f4f;
      border-color: #333;
   }
   @include mob {
      margin: 23px auto;
   }
   &[disabled]{
      cursor: default;
      opacity: 0.4;
   }
}
form+ p{
   font-size: 9px;
   opacity: 0.6;
   max-width: 254px;
   margin: 0 auto;
   .darck &{
      color: #fff;
   }
}

#shadow_block .modal_form{
   border-radius: 50px 0px;
   background: rgba(37, 37, 37, 0.98);
   box-shadow: 11px 11px 34px 0px rgba(0, 0, 0, 0.75);
   padding: 78px 70px;
   
   .h_form{
      font-size: 23px;
   }
   &.darck .h_form{
      color: #F2F2F2;
   }
}
#block_request_call {
   p{
      text-align: center;
   }
   form{
      padding: 0 10px;
   }
   input{
      margin-inline: auto;
   }
}
#post_form_modal{
   text-align: center;
   .darck &{
      color: #F2F2F2;
   }
}

#block_form{
   max-width: 328px;
   box-sizing: border-box;
   border: 1px solid;
   border-radius: 30px 0;
   .darck &{
      color: #fff;
      border-color: #FFFFFF66;
   }
   .light &{
      color: $yellow-darck;
   }
   @include xl {
      padding: 68px 31px;
      height: calc(272px + 136px);
   }
   @include t {
      padding: 59px 44px;
      height: calc(272px + 116px);
      margin: 78px auto 0;
   }
   @include mob {
      padding: 48px 44px;
      height: calc(272px + 96px);
      margin: 35px auto 0;
   }
   
   [type="text"]{
      width: 100%;
   }

   p, h3{
      text-align: center;
   }
   h3{
      font-weight: 400;
   }
   
}
#post_form{
   @extend #block_form;
   display: none;
   justify-content: center;
   align-items: center;
   p{
      font-size: 20px;
      opacity: 1;
   }
}