$yellow: #FCFFD4;
$yellow-darck: #423805;
$pading-xl: 19.54vw;
$pading-t: 3vw;
$pading-mob:4.255vw;
$max-w-xl: 1920px - 375px * 2;
@mixin paddings(){
   @include xl {
      padding: 140px $pading-xl;
   }

   @include t {
      padding: 55px $pading-t;
   }

   @include mob {
      padding: 55px $pading-mob;
   }
}

@keyframes loading_rotate {
   0%{
      transform: rotate(0deg);
   }
   100%{
      transform: rotate(360deg);
   }
}