$yellow: #FCFFD4;
$yellow-darck: #423805;
$pading-xl: 19.54vw;
$pading-t: 3vw;
$pading-mob:4.255vw;
$max-w-xl: 1920px - 375px * 2;
@mixin paddings(){
   @include xl {
      padding: 140px $pading-xl;
   }

   @include t {
      padding: 55px $pading-t;
   }

   @include mob {
      padding: 55px $pading-mob;
   }
};

$white06: rgba(255, 255, 255, 0.06);

@mixin small-text($line){
   overflow: hidden;
   text-overflow: ellipsis;
   display: -moz-box;
   display: box;
   display: -webkit-box;
   -webkit-line-clamp: $line;
   line-clamp: $line;
   -webkit-box-orient: vertical;
   -moz-box-orient: vertical;
}