@import "medias.scss";
@import "_vars.scss";

header {
   background-image: url(../img/home_img/backg_header.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: top center;
   overflow: hidden;

   

   @include t {
      height: 688px;
   }

   @include mob {
      aspect-ratio: 1 /2.5;
      min-height: 820px;
      max-width: 100vw - $pading-mob*2 !important;

      .yes_small {
         display: block;
         max-width: 292px;
         margin-top: 66px;
         padding: 19px 17px;
         color: #fff;
         text-align: center;
         border-radius: 3px;
         border: 1px solid #FFF;
         box-shadow: 0px 0px 26px 0px rgba(149, 127, 61, 0.68);
      }
   }

   .img_and_t {
      img {
         display: none;
         position: relative;
         z-index: 5;
      }
      @include xl {
         width: 731px;
         max-height: 596px;

         .img_b {
            display: block;
            margin-left: 31%;
         }

         .img_disck {
            position: absolute;
            bottom: -55%;
            left: 0;
            margin-left: 0;
            z-index: 1;
         }
      }

      @include t {
         position: absolute;
         right: 0;
      }

      @include mob {
         img {
            width: 100%;
         }

         .img_m {
            position: absolute;
            right: 0;
            bottom: 0;
         }
      }

      .text {
         position: absolute;
         top: 70px;
         text-align: right;
         @include t {
            left: 30px;
         }
         @include mob {
            display: none;
         }

         @include xl {
            left: 60px;
         }
      }
   }
}
.img_and_t{
   position: relative;
   >img{
      display: none;
      &:not(.img_disck){
         position: relative;
         z-index: 5;
      }
   }
   @include xl {
      .img_b{
         display: block;
      }
   }
   @include t {
      .img_t{
         display: block;
      }
   }
      @include mob {
         .img_m{
            display: block;
         }
      }

   .text {
      @include xl {
         font-size: 18px;
      }

      span {
         font-size: 14px;
         opacity: 0.5;
      }
   }
}
h1{
   font-size: 50px;
}
#block1{
   background: linear-gradient(117deg, #26241E 35.16%, #15130D 71.84%), #1F1E1B;
   >img{
      position: absolute;
      bottom: 0;
      right: calc((100vw - $max-w-xl - 738px) / 2);
      @include mob-and-t {
         display: none;
      }
   }
   .width{
      position: relative;
      z-index: 4;
   }
}
#services+a{
   width: fit-content;
   margin: auto;
   margin-top: 35px;
   color: #FFF;
   text-shadow: 0px 0px 5px rgba(252, 255, 212, 0.82);
   font-size: 15px;
}
#block2{
   background: linear-gradient(107deg, #181616 -4.1%, #1B1A17 91.06%);
   padding-bottom: 0;
   overflow: hidden;
   .flex{
      display: flex;
      justify-content: center;
      @include t {
         display: block;
      }
   }
   .img_and_t{
      @include xl {
         margin-bottom: -22px;
         margin-top: 65px;
      }
      @include t {
         margin-top: 80px;
      }
      @include mob {
      margin-top: 45px;
      }
      >img{
         @include t {
            width: 100%
         }
         @include mob {
            width: 100vw;
            margin: 0 -$pading-mob;
            margin-top: 65px;
         }
      }
      @include mob {
         width: 100%;
         
      }
   
   .img_disck{
      position: absolute;
      right: 9%;
      top: 43%;
      z-index: 1;
   }
   .flexSB{
      position: absolute;
      @include xl {
         top: 57px;
         left: -35px;
         right: -115px;
      }
      @include mob-and-t {
         width: 100%;
      }
      @include mob {
         position: relative;
         display: flex;
         justify-content: space-between;
      }
      .text{
         span{
            color: #fff;
            &::before{
               content: "";
               display: inline-block;
               width: 3px;
               height: 12px;
               background: $yellow;
               margin-right: 10px;
               opacity: 1;
               position: relative;
               bottom: -3px;
            }
         }
      }
   }
      .icons{
         margin-top: 14px;
         display: flex;
         column-gap: 14px;
      }
   }
   
}
#achievements{
   width: 50%;
   text-align: center;
   align-self: flex-end;
   padding-bottom: 120px;
   flex-wrap: wrap;
   row-gap: 68px;
   align-items: baseline;
   p{
      width: 170px;
      font-size: 14px;
   }
}