@import "_medias.scss";
@import "_vars.scss";
@import "_style_coments.scss";
@import "_style_services.scss";
@import "_syle_form.scss";

header {
   background-image: url(../img/home_img/backg_header.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: top center;
   overflow: hidden;

   @include t {
      height: 688px;
   }

   @include mob {
      aspect-ratio: 1/2.5;
      min-height: 820px;
      max-width: 100%;
      min-width: 100%;
      max-height: 1000px;
      box-sizing: border-box;

      .yes_small {
         display: block;
         max-width: 292px;
         margin-top: 66px;
         padding: 19px 17px;
         color: #fff;
         text-align: center;
         border-radius: 3px;
         border: 1px solid #FFF;
         box-shadow: 0px 0px 26px 0px rgba(149, 127, 61, 0.68);
      }
   }

   .img_and_t {
      img {
         display: none;
         position: relative;
         z-index: 5;
      }

      @include xl {
         width: 731px;
         max-height: 596px;

         .img_b {
            display: block;
            margin-left: 31%;
         }

         .img_disck {
            position: absolute;
            bottom: -55%;
            left: 0;
            margin-left: 0;
            z-index: 1;
         }
      }

      @include t {
         position: absolute;
         right: 0;
      }

      @include mob {
         position: absolute;
         right: 0;
         bottom: 0;
         width: 96%;
         max-width: 490px;

         img {
            width: 100%;
         }

         .img_m {
            position: absolute;
            right: 0;
            bottom: 0;
         }
      }

      .text {
         position: absolute;
         top: 70px;
         text-align: right;

         @include t {
            left: 30px;
         }

         @include mob {
            display: none;
         }

         @include xl {
            left: 60px;
         }
      }
   }
}

.img_and_t {
   position: relative;

   >img {
      display: none;

      &:not(.img_disck) {
         position: relative;
         z-index: 5;
      }
   }

   @include xl {
      .img_b {
         display: block;
      }
   }

   @include t {
      .img_t {
         display: block;
      }
   }

   @include mob {
      .img_m {
         display: block;
      }
   }

   .text {
      @include xl {
         font-size: 18px;
      }

      span {
         font-size: 14px;
         opacity: 0.5;
      }
   }
}

h1 {
   font-size: 50px;
}

#block1 {
   background: linear-gradient(117deg, #26241E 35.16%, #15130D 71.84%), #1F1E1B;

   >img {
      position: absolute;
      bottom: 0;
      right: calc((100vw - $max-w-xl - 738px) / 2);

      @include mob-and-t {
         display: none;
      }
   }

   .width {
      position: relative;
      z-index: 4;
   }
}

#services+a {
   width: fit-content;
   margin: auto;
   margin-top: 35px;
   color: #FFF;
   text-shadow: 0px 0px 5px rgba(252, 255, 212, 0.82);
   font-size: 15px;
}

#block2 {
   background: linear-gradient(107deg, #181616 -4.1%, #1B1A17 91.06%);
   padding-bottom: 0;
   overflow: hidden;

   .flex {
      display: flex;
      justify-content: center;

      @include t {
         display: block;
      }
   }

   .img_and_t {
      @include xl {
         margin-bottom: -6px;
         margin-top: 65px;
      }

      @include t {
         margin-top: 80px;
      }

      @include mob {
         margin-top: 45px;
      }

      >img {
         @include t {
            width: 100%
         }

         @include mob {
            width: 100vw;
            margin: 0 -$pading-mob;
            margin-top: 10px;
         }
      }

      @include mob {
         width: 100vw;

      }

      .img_disck {
         position: absolute;
         right: 9%;
         top: 43%;
         z-index: 1;
      }

      .flexSB {
         position: absolute;

         @include xl {
            top: 57px;
            left: -35px;
            right: -115px;
         }

         @include mob-and-t {
            width: 100%;
         }

         @include mob {
            position: relative;
            display: flex;
            justify-content: space-between;
         }

         .text {
            span {
               color: #fff;

               &::before {
                  content: "";
                  display: inline-block;
                  width: 3px;
                  height: 12px;
                  background: $yellow;
                  margin-right: 10px;
                  opacity: 1;
                  position: relative;
                  bottom: -3px;
               }
            }
         }
      }

      .icons {
         margin-top: 14px;
         
      }
   }

}

#achievements {
   width: 50%;
   text-align: center;
   align-self: flex-end;
   padding-bottom: 120px;
   flex-wrap: wrap;
   row-gap: 68px;
   align-items: baseline;

   p {
      width: 170px;
      font-size: 14px;
   }
}

#block3 {
   padding: 0;

   @include t {
      background-image: url(../img/home_img/backg_block3.png);
      background-position: center top;
      background-size: cover;
   }

}

#coments {
   @include paddings();

   @include xl {
      background: #232222;
   }

   @include mob {
      background: #322F2F;
   }
}

#our_affairs {
   margin-top: -1px;
   z-index: 4;
   @include paddings();

   @include xl {
      position: relative;
      background-image: url(../img/home_img/backg_block3.png);
      background-position: center;
      background-size: cover;
      padding-top: 8px;
      .width{
         position: relative;
         z-index: 3;
      }
      .backg {
         top: 69.5px;
         background: $white06;
      }

      h2 {
         width: fit-content;
         margin: 0 auto;
         border-radius: 30px 0px;
         padding: 11px 42px;
         background: $white06;
      }
   }

   .flexSB {
      @include xl {
         column-gap: 10px;
      }
      @include mob-and-t {
         display: flex;
         justify-content: space-between;
         flex-wrap: wrap;
         row-gap: 17px;
      }
   }
   @include mob {
      background: #252322;
   }

   .affair {
      border-radius: 30px 0px;
      color: #fff;
      box-sizing: border-box;
      cursor: pointer;
      transition: 1s;
      
      @include xl {
         padding: 19px 25px;
         opacity: 0.5;
         &:hover, &.affair_active{
            color: $yellow;
            background: $white06;
            opacity: 1;
         }
      }
      @include mob-and-t {
         background: $white06;
         display: flex;
         align-items: center;
      }

      @include t {
         width: 228px;
         padding: 22px 35px;
      }

      @include mob {
         width: 48%;
         padding: 17px 15px;
      }
   }

}
#affair_descr{
   z-index: 999999999;
   
   @include mob-and-t {
      background: rgba(37, 35, 34, 0.96);
      display: none;
      height: 100vh;
      overflow-y: auto;
      position: fixed;
      inset: 0;
      align-items: center;
   }
   *{
      color: #fff;
   }
}
#affair_content{
   position: relative;
   max-height: 100vh;
   @include xl {
      width: 808px;
      margin: 50px auto 0;
      display: grid;
      grid-template-areas: "i h"
                           "i t";
      column-gap: 30px;
      grid-template-columns: 270px 1fr;
   }
   @include t {
      display: grid;
      column-gap: 27px;
      width: 600px;
      margin: 0 auto;
      grid-template-columns: 220px 345px;
      grid-template-areas: "h h"
                           "i t";
   }
   @include mob {
      max-width: 345px;
      margin: 0 auto;

   }
   .block_text{
      grid-area: t;
   }

   .small_dispute{
      @include mob-and-t {
         overflow: hidden;
         text-overflow: ellipsis;
         display: -moz-box;
         display: box;
         display: -webkit-box;
         -webkit-line-clamp: 3;
         line-clamp: 3;
         -webkit-box-orient: vertical;
         -moz-box-orient: vertical;
      }
   }
   #show_descr_dispute{
      font-size: 14px;
      text-transform: uppercase;
      opacity: 0.95;
      text-decoration-line: underline;
      margin: 8px 0 0;
      cursor: pointer;
   }
   h3{
      grid-area: h;
      margin-top: 0;

      @include t {
         width: 423px;
         font-size: 18px;
      }
      @include mob {
         font-size: 16px;
         max-width: 240px;
      }
   }
   h4{
      font-size: 14px;
      text-transform: uppercase;
      margin: 15px 0 7px;
   }
   p{
      opacity: 0.7;
      font-size: 14px;
      transition: height 1s;
   }
   .img{
      grid-area: i;
      @include mob {
         max-width: 218px;
      }
      img{
         width: 100%;
         margin-top: 18px;
      }
      div{
         font-size: 13px;
         opacity: 0.5;
         margin-top: 13px;
         @include mob {
            display: none;
         }
      }
   }
   .close{
      background: rgba(196, 196, 196, 0.15);
      top: 0;
      @include t {
         right: -22px;
      }
   }
}
#partners{
   background: linear-gradient(180deg, #222 0%, #1F241D 118.29%);
   @include mob {
      display: none;
   }
   h2{
      color: #fff;
   }
   .flexSB{
      align-items: center;
      @include xl {
         column-gap: 35px;
      }
      @include t {
         column-gap: 70px;
      }
      img{
         opacity: 0.5;
      }
   }
}
#contacts{
   background-image: url(../img/home_img/backg_block5.png);
   background-size: cover;
   background-repeat: no-repeat;
   @include mob-and-t {
      background-position: bottom ;
   }
   #map_and_contacts{
      @include xl {
         width: 670px;
      }
      @include mob-and-t {
         width: 100%;
      }
   }
   #block_map+.flex{
         color: #fff;
         @include xl {
            column-gap: 47px;
         }
         @include t {
            column-gap: 75px;
         }
         @include mob {
            display: block;
         }
         p{
            font-size: 18px;
         }
      }
      
   #schedule{
      font-size: 14px;
      line-height: 126.4%;
      opacity: 0.7;
      column-gap: 25px;
      @include mob {
         font-size: 12px;
         column-gap: 18px;
         margin-top: 8px;
      }
   }

   .el_contacts{
      @include xl {
         column-gap: 12px;
         margin-top: 8px;
      }
      @include mob-and-t {
         margin-top: 15px;
      }

   }
   
}