@import "medias.scss";
@import "_vars.scss";

* {
   margin: 0;
   padding: 0;
   font-size: 16px;
   font-weight: 400;
}

.width {
   margin: auto;

   @include xl {
      max-width: 1920px - 375px * 2;
   }

   @include t {
      max-width: 890px;
   }

   @include mob {
      max-width: 600px;
   }
}

.darck {

   &,
   & a {
      color: $yellow;
   }

   .logo span {
      background: $yellow;
      color: #494411;
   }
}

main>div,
footer {
   position: relative;

   @include xl {
      padding: 140px $pading-xl;
   }

   @include t {
      padding: 55px $pading-t;
   }

   @include mob {
      padding: 55px $pading-mob;
   }
}

header {
   position: relative;

   #flex_header {
      display: flex;
      justify-content: space-between;

      @include xl {
         margin-bottom: 130px;
      }

      @include t {
         margin-bottom: 100px;
      }

      @include mob {
         margin-bottom: 80px;
      }
   }

   @include xl {
      padding: 40px $pading-xl 0;

      #flex_header>* {
         display: flex;
         align-items: center;
         column-gap: 40px;
      }

      .contackt {
         text-align: right;
      }


   }

   @include t {
      padding: 40px $pading-t 0;

      #h_adres {
         margin-top: 19px;
         opacity: 0.5;
      }

      #header_block_r {
         display: flex;
         align-items: center;
         column-gap: 35px;
      }
   }

   @include mob {
      padding: 40px $pading-mob 0;



      #h_adres {
         display: none;
      }
   }

   .menu {
      list-style: none;
   }

   a {
      text-decoration: none;
   }
}
#h_icons {
   display: flex;

   @include xl {
      flex-direction: column;
      align-items: center;
   }
   @include t {
      position: absolute;
      bottom: 10px;
      column-gap: 58px;
      .disck, .line{
         display: none;
      }
   }
   @include mob {
      display: none;
   }
   a{
      @include xl {
         margin: 17.5px 0;
         width: 25px;
      }
      @include t {
         width: 23px;
      }
      img{
         width: 100%;
      }
   }

   .disck {
      border-radius: 50%;
      width: 3px;
      height: 3px;
      background: #fff;
   }

   .line {
      width: 1px;
      height: 116px;
      opacity: 0.5;

      &.grabien_u {
         background: linear-gradient(#FFF 50%, rgba(255, 255, 255, 0.00) 102.59%);
         margin-bottom: 35px;
      }

      &.grabien_d {
         background: linear-gradient(0deg, #FFF 50%, rgba(255, 255, 255, 0.00) 102.59%);
         margin-top: 35px;
      }
   }
}

.logo span {
   border-radius: 42% 0;
   padding: 6px;
   font-weight: 700;
}

#header_block_r {
   @include mob {
      position: fixed;
      left: calc(100% + 36px);
      transition: 2s;
      box-shadow: -36px 0px 17px 5px rgba(14, 15, 15, 0.72);

      .darck &{
         background: #1e1d1c;
      }
      width: 100%;
      height: 100%;
      padding: 50px 70px;
      top: 0;
      z-index: 99999;

      &.open {
         left: 0;
      }

      li {
         margin-bottom: 30px;
      }
      .contackt{
         margin-top: 45px;
      }
   }
   #close{
      position: absolute;
      left: 75vw;
      top: 30px;
      font-size: 45px;
      @include t-u {
         display: none;
      }
   }
   .logo{
      margin-bottom: 46px;
      @include t-u {
         display: none;
      }
   }
}

.menu {
   @include t-u {
      display: flex;
      justify-content: space-between;
      column-gap: 30px
   }

   @include t {
      column-gap: 28px;
   }

   a {
      transition: 0.5s;
      font-size: 14px;

      @include xl {

         opacity: 0.5;

         &:hover {
            opacity: 1;
         }
      }
   }
}

.contackt a {
   display: block;
}

.tel {
   font-size: 18px;
   font-weight: 700;
}

.mail {
   font-style: 14px;
   opacity: 0.3;
   margin-top: 4px;
   transition: 0.5s;

   &:hover {
      opacity: 1;
   }
}

.flexSB {
   @include t-u {
      display: flex;
      justify-content: space-between;
   }
}

.yes_small,
#open_menu {
   @include t-u {
      display: none !important;
   }
}
#open_menu, #close{
   cursor: pointer;
}
h2{
   font-size: 30px;
   text-align: center;
   margin-bottom: 15px;
}
.slide{
   position: absolute;
   transition: 1s;
   &.active{
      position: relative;
      left: 0;
   }
}
#services{
   overflow: hidden;
   position: relative;
   .flexSB{
      flex-wrap: wrap;
      width: 100%;
      @include xl {
         gap: 30px;
      }
      @include t {
         gap: 20px;
      }
   }
   .next{
      left: 100%;
   }
   .prev{
      left: -100%;
   }
}
.service{
   border-radius: 3px;
   background: #2C2B29;
   background-image: url(../img/Ellipse_service.png);
   background-position: right bottom;
   background-repeat: no-repeat;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20);
   box-sizing: border-box;
   padding: 30px 22px;
   position: relative;
   cursor: pointer;

   &::before{
      position: absolute;
      left: 0;
      top: 0;
      content: "";
      background: linear-gradient(120deg, #95803D 2.42%, #564715 107.07%);
      border-left: 3px solid $yellow;
      width: 0;
      height: 0;
      opacity: 0;
      border-radius: 0 0 50% 0;
      transition: width 1s, height 1s, opacity 2s, border-radius 1s ;
      z-index: 1;
   }
   *{
      position: relative;
      z-index: 9;
   }


   @include xl {
      width: calc((100% - 60px) / 3);
   }
   @include t {
      width: calc((100% - 20px) / 2);
      
   }
   @include mob {
      margin-bottom: 25px;
      padding: 24px 8px;
   }
   img{
      float: left;
   }
   .line{
      width: 106px;
      height: 2px;
      background: rgba(255, 255, 255, 0.30);
      clear: both;
      margin-top: 15px;
   }
   .service_h {
      margin-bottom: 10px;
      p{
         font-size: 20px;
         margin-left: 36px;
      }
   }
   &:hover{
      &::before{
         bottom: 0;
         right: 0;
         width: 100%;
         height: 100%;
         opacity: 1;
         border-radius: 0;
      }

   }
}
#nav_services{
   display: flex;
   justify-content: center;
   column-gap: 10px;
   margin-bottom: 30px;
   button{
      background: none;
      border: 0;
      color: $yellow;
      opacity: 0.5;
      cursor: pointer;
      transition: 1s;
   
      &[disabled], &:hover{
         color: #fff;
         opacity: 1;
      }
      &[disabled]{
         cursor: auto
         ;
      }
      .line{
         height: 2px;
         width: 30px;
         div{
            border-radius: 50%;
            width: 3px;
            height: 3px;
         }
      }
   }
}