@import "medias.scss";
@import "_vars.scss";
@import "_header_and_footer.scss";
@import "_style_preloader.scss";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
   margin: 0;
   padding: 0;
   font-family: PT Serif;
   font-size: 16px;
   font-weight: 400;
}

.open_modal_no_xl {
   @include mob-and-t {
      overflow: hidden;
   }
}

.width {
   margin: auto;

   @include xl {
      max-width: $max-w-xl;
   }

   @include t {
      max-width: 890px;
   }

   @include mob {
      max-width: 480px;
   }
}

.darck {

   &,
   & a:not(footer .menu a, footer .adres a) {
      color: $yellow;
   }

   .logo span {
      background: $yellow;
      color: #494411;
   }
   
}
.light{
   background: linear-gradient(226deg, #F9F8F4 16.25%, #E8E6E2 102.54%);
   &, a{
      color: $yellow-darck;
   }

   .logo span {
      background: $yellow-darck;
      color: #F4F3EE;
   }
}

main>div,
footer {
   position: relative;

   @include paddings()
}

h1 {
   font-size: 50px;
}
a {
   text-decoration: none;
}

.flex {
   display: flex;
}

.contacts a {
   display: block;
}

.tel {
   font-weight: 700;
}

.mail {
   font-size: 14px;
   opacity: 0.3;
   margin-top: 10px;
   transition: 0.5s;

   &:hover {
      opacity: 1;
   }
}

.flexSB {
   @include t-u {
      display: flex;
      justify-content: space-between;
   }
}

.a_be {
   margin-top: 45px;

   @include mob {
      header & {
         display: none;
      }
   }

   button {
      position: relative;
      margin-left: 35px;
      margin-bottom: 35px;
      color: #fff;

      @include xl {
         opacity: 0.6;
         transition: 0.5s;

         &:hover {
            opacity: 1;
         }
      }

      &::before {
         position: absolute;
         left: -35px;
      }

      &.be_phone::before {
         content: url(../img/home_img/phone-call\ 1.png);
      }

      &.be_doc::before {
         content: url(../img/home_img/file-text\ 1.png);
      }
   }
}

.border_gradient {
   border-bottom: 2px solid transparent;
   border-image: linear-gradient(90deg, #FCFFD4 0%, rgba(0, 0, 0, 0) 101.45%);
   border-image-slice: 1;
   padding-bottom: 8px;
   display: block;
   width: fit-content;
   text-decoration: none;
}

.yes_small,
#open_menu {
   @include t-u {
      display: none !important;
   }
}


h2 {
   font-size: 30px;
   text-align: center;
   margin-bottom: 15px;
}

.slide {
   position: absolute;
   transition: 1s;
   top: 0;

   &.active {
      position: relative;
      left: 0;
   }

   &.next {
      left: 100%;
   }

   &.prev {
      left: -100%;
   }
}

.nav_slider {
   display: flex;
   justify-content: center;
   column-gap: 14px;
   align-items: center;
   margin-bottom: 30px;

   button {
      font-size: 14px;
      background: none;
      border: 0;
      color: #fff;
      transition: 1s;

      &:not([disabled]) {
         opacity: 0.5;
         cursor: pointer;
      }

      &[disabled],
      &:hover {
         &:not(.disabled_btn_active_video) {
            color: $yellow;
            opacity: 1;
         }
      }

      &[disabled]:not(.disabled_btn_active_video) {
         &+.nav_line {
            div {
               left: 0;
            }

            &::before {
               width: 0;
            }
         }
      }
   }

   .nav_line {
      height: 2px;
      width: 30px;
      position: relative;
      background: linear-gradient(90deg, #FCFFD4 0%, rgba(0, 0, 0, 0.00) 98.7%);

      &::before {
         content: '';
         background: linear-gradient(270deg, #FCFFD4 0%, rgba(0, 0, 0, 0.8) 98.7%);
         position: absolute;
         left: 0;
         top: 0;
         height: 100%;
         width: 100%;
         transition: 1s;
         z-index: 1;
      }

      div {
         border-radius: 50%;
         width: 5px;
         height: 5px;
         background: #fff;
         position: absolute;
         left: 100%;
         top: -1.5px;
         transition: 1s;
         z-index: 2;
      }

   }
}

#shadow_block {
   position: fixed;
   inset: 0;
   display: none;
   justify-content: center;
   align-items: center;
   background: rgba(26, 25, 22, 0.84);
   z-index: 999999;

   >div {
      position: relative;
      border-radius: 35px 0;
      background: linear-gradient(214deg, #2D2B23 9.6%, #292923 108.65%);
      box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.33);
      display: none;
      max-height: 100%;
      overflow-y: auto;
   }
}

.close {
   position: absolute;
   top: 20px;
   right: 17px;
   border-radius: 50%;
   background: rgba(0, 0, 0, 0.4);
   color: $yellow;
   aspect-ratio: 1/1;
   text-align: center;
   cursor: pointer;

   @include xl {
      transition: 0.7s;
      padding: 4px;
      width: 9px;

      &:hover {
         background: rgba(0, 0, 0, 0.4);
         width: 16px;
         padding: 8px;
      }
   }

   @include mob-and-t {
      padding: 12px;
      top: 60px;
   }

   img {
      width: 100%;
      display: block;

      @include mob-and-t {
         margin-bottom: -3px;
      }
   }
}

.icons {
   display: flex;
   column-gap: 14px;
   a{
      @include t-u {
         opacity: 0.5;
         transition: 1s;
         &:hover{
            opacity: 1;
         }
      }
   } 
}

.no_xl {
   @include xl {
      display: none !important;
   }
}

.yes_xl {
   @include mob-and-t {
      display: none;
   }
}

h3 {
   font-size: 20px;
}

.backg {
   position: absolute;
   inset: 0;
}


.el_contacts{
   column-gap: 22px;
}