@import "medias.scss";
@import "_vars.scss";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
   margin: 0;
   padding: 0;
   font-family: PT Serif;
   font-size: 16px;
   font-weight: 400;
}
.preloader {
   /*фиксированное позиционирование*/
   position: fixed;
   /* координаты положения */
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   /* фоновый цвет элемента */
   background: #1e1d1c;
   /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
   z-index: 1001;
 }
 
 .preloader__row {
   position: relative;
   top: 50%;
   left: 50%;
   width: 70px;
   height: 70px;
   margin-top: -35px;
   margin-left: -35px;
   text-align: center;
   animation: preloader-rotate 2s infinite linear;
 }
 
 .preloader__item {
   position: absolute;
   display: inline-block;
   top: 0;
   background-color: $yellow;
   border-radius: 100%;
   width: 35px;
   height: 35px;
   animation: preloader-bounce 2s infinite ease-in-out;
 }
 
 .preloader__item:last-child {
   top: auto;
   bottom: 0;
   animation-delay: -1s;
 }
 
 @keyframes preloader-rotate {
   100% {
     transform: rotate(360deg);
   }
 }
 
 @keyframes preloader-bounce {
 
   0%,
   100% {
     transform: scale(0);
   }
 
   50% {
     transform: scale(1);
   }
 }
 
 .loaded_hiding .preloader {
   transition: 0.3s opacity;
   opacity: 0;
 }
 
 .loaded .preloader {
   display: none;
 }

.width {
   margin: auto;

   @include xl {
      max-width: $max-w-xl;
   }

   @include t {
      max-width: 890px;
   }

   @include mob {
      max-width: 600px;
   }
}

.darck {

   &,
   & a {
      color: $yellow;
   }

   .logo span {
      background: $yellow;
      color: #494411;
   }
}

main>div,
footer {
   position: relative;

   @include paddings()
}

header {
   position: relative;

   #flex_header {
      display: flex;
      justify-content: space-between;

      @include xl {
         margin-bottom: 130px;
      }

      @include t {
         margin-bottom: 100px;
      }

      @include mob {
         margin-bottom: 80px;
      }
   }

   @include xl {
      padding: 40px $pading-xl 0;

      #flex_header>* {
         display: flex;
         align-items: center;
         column-gap: 40px;
      }

      .contackt {
         text-align: right;
      }


   }

   @include t {
      padding: 40px $pading-t 0;

      #h_adres {
         margin-top: 19px;
         opacity: 0.5;
      }

      #header_block_r {
         display: flex;
         align-items: center;
         column-gap: 35px;
      }
   }

   @include mob {
      padding: 40px $pading-mob 0;



      #h_adres {
         display: none;
      }
   }

   .menu {
      list-style: none;

      @include t {
         font-size: 14px;
      }
   }

   a {
      text-decoration: none;
   }
}

#h_icons {
   display: flex;

   @include xl {
      flex-direction: column;
      align-items: center;
   }

   @include t {
      position: absolute;
      bottom: 10px;
      column-gap: 58px;

      .disck,
      .line {
         display: none;
      }
   }

   @include mob {
      display: none;
   }

   a {
      @include xl {
         margin: 17.5px 0;
         width: 25px;
      }

      @include t {
         width: 23px;
      }

      img {
         width: 100%;
      }
   }

   .disck {
      border-radius: 50%;
      width: 3px;
      height: 3px;
      background: #fff;
   }

   .line {
      width: 1px;
      height: 116px;
      opacity: 0.5;

      &.grabien_u {
         background: linear-gradient(#FFF 50%, rgba(255, 255, 255, 0.00) 102.59%);
         margin-bottom: 35px;
      }

      &.grabien_d {
         background: linear-gradient(0deg, #FFF 50%, rgba(255, 255, 255, 0.00) 102.59%);
         margin-top: 35px;
      }
   }
}

.logo span {
   border-radius: 42% 0;
   padding: 6px;
   font-weight: 700;
}

#header_block_r {
   @include mob {
      position: fixed;
      left: calc(100% + 36px);
      transition: 2s;
      box-shadow: -36px 0px 17px 5px rgba(14, 15, 15, 0.72);

      .darck & {
         background: #1e1d1c;
      }

      width: 100%;
      height: 100%;
      padding: 50px 70px;
      top: 0;
      z-index: 99999;

      &.open {
         left: 0;
      }

      li {
         margin-bottom: 30px;
      }

      .contackt {
         margin-top: 45px;
      }
   }

   #close {
      position: absolute;
      left: 75vw;
      top: 30px;
      font-size: 45px;

      @include t-u {
         display: none;
      }
   }

   .logo {
      margin-bottom: 46px;

      @include t-u {
         display: none;
      }
   }
}

.menu {
   @include t-u {
      display: flex;
      justify-content: space-between;
      column-gap: 30px
   }

   @include t {
      column-gap: 28px;
      font-size: 15;
   }

   a {
      transition: 0.5s;
      font-size: 14px;

      @include xl {

         opacity: 0.5;

         &:hover {
            opacity: 1;
         }
      }
   }
}

.contackt a {
   display: block;
}

.tel {
   font-size: 18px;
   font-weight: 700;
}

.mail {
   font-style: 14px;
   opacity: 0.3;
   margin-top: 4px;
   transition: 0.5s;

   &:hover {
      opacity: 1;
   }
}

.flexSB {
   @include t-u {
      display: flex;
      justify-content: space-between;
   }
}

.a_be {
   margin-top: 45px;

   @include mob {
      header & {
         display: none;
      }
   }

   a {
      position: relative;
      margin-left: 35px;
      margin-bottom: 35px;
      color: #fff;

      @include xl {
         opacity: 0.6;
         transition: 0.5s;

         &:hover {
            opacity: 1;
         }
      }

      &::before {
         position: absolute;
         left: -35px;
      }

      &.be_phone::before {
         content: url(../img/home_img/phone-call\ 1.png);
      }

      &.be_doc::before {
         content: url(../img/home_img/file-text\ 1.png);
      }
   }
}

.border_gradient {
   border-bottom: 2px solid transparent;
   border-image: linear-gradient(90deg, #FCFFD4 0%, #383921 101.45%);
   border-image-slice: 1;
   padding-bottom: 8px;
   display: block;
   width: fit-content;
   text-decoration: none;
}

.yes_small,
#open_menu {
   @include t-u {
      display: none !important;
   }
}

#open_menu,
#close {
   cursor: pointer;
}

h2 {
   font-size: 30px;
   text-align: center;
   margin-bottom: 15px;
}

.slide {
   position: absolute;
   transition: 1s;

   &.active {
      position: relative;
      left: 0;
   }

   &.next {
      left: 100%;
   }

   &.prev {
      left: -100%;
   }
}

#services {
   overflow: hidden;
   position: relative;

   .flexSB {
      flex-wrap: wrap;
      width: 100%;

      @include xl {
         gap: 30px;
      }

      @include t {
         gap: 20px;
      }
   }

}

.service {
   border-radius: 3px;
   background: #2C2B29;
   background-image: url(../img/Ellipse_service.png);
   background-position: right bottom;
   background-repeat: no-repeat;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20);

   @include mob-and-t {
      background-position: calc(100% + 8px) calc(100% + 8px);
   }

   box-sizing: border-box;
   padding: 30px 22px;
   position: relative;
   cursor: pointer;

   &::before {
      position: absolute;
      left: 0;
      top: 0;
      content: "";
      background: linear-gradient(120deg, #95803D 2.42%, #564715 107.07%);
      border-left: 3px solid $yellow;
      width: 0;
      height: 0;
      opacity: 0;
      border-radius: 0 0 50% 0;
      transition: width 1s, height 1s, opacity 2s, border-radius 1s;
      z-index: 1;
   }

   * {
      position: relative;
      z-index: 9;
   }


   @include xl {
      width: calc((100% - 60px) / 3);
   }

   @include t {
      width: calc((100% - 20px) / 2);

   }

   @include mob {
      margin-bottom: 25px;
      padding: 24px 8px;
   }

   img {
      float: left;
   }

   .line {
      width: 106px;
      height: 2px;
      background: rgba(255, 255, 255, 0.30);
      clear: both;
      margin-top: 15px;
   }

   .service_h {
      margin-bottom: 10px;

      p {
         font-size: 20px;
         margin-left: 36px;
      }
   }

   >p {
      max-width: 310px;
      font-size: 15px;
   }

   &:hover {
      &::before {
         bottom: 0;
         right: 0;
         width: 100%;
         height: 100%;
         opacity: 1;
         border-radius: 0;
      }

   }
}

.nav_slider {
   display: flex;
   justify-content: center;
   column-gap: 14px;
   align-items: center;
   margin-bottom: 30px;

   button {
      font-size: 14px;
      background: none;
      border: 0;
      color: $yellow;
      transition: 1s;

      &:not([disabled]) {
         opacity: 0.5;
         cursor: pointer;
      }

      &[disabled],
      &:hover {
         &:not(.disabled_btn_active_video) {
            color: #fff;
            opacity: 1;
         }
      }

      &[disabled]:not(.disabled_btn_active_video) {
         &+.nav_line {
            div {
               left: 0;
            }

            &::before {
               width: 0;
            }
         }
      }
   }

   .nav_line {
      height: 2px;
      width: 30px;
      position: relative;
      background: linear-gradient(90deg, #FCFFD4 0%, rgba(0, 0, 0, 0.00) 98.7%);

      &::before {
         content: '';
         background: linear-gradient(270deg, #FCFFD4 0%, rgba(0, 0, 0, 0.8) 98.7%);
         position: absolute;
         left: 0;
         top: 0;
         height: 100%;
         width: 100%;
         transition: 1s;
         z-index: 1;
      }

      div {
         border-radius: 50%;
         width: 5px;
         height: 5px;
         background: #fff;
         position: absolute;
         left: 100%;
         top: -1.5px;
         transition: 1s;
         z-index: 2;
      }

   }
}

#shadow_block {
   position: fixed;
   inset: 0;
   display: none;
   justify-content: center;
   align-items: center;
   background: rgba(26, 25, 22, 0.84);
   z-index: 999999;

   >div {
      position: relative;
      border-radius: 35px 0 0 0;
      background: linear-gradient(214deg, #2D2B23 9.6%, #292923 108.65%);
      box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.33);
      display: none;
      max-height: 100%;
      overflow-y: auto;
   }
}

#service_descr {

   @include mob-and-t {
      img {
         display: none;
      }
   }

   .block_text {
      margin: 66px;

      @include t-u {
         width: 436px;
      }
   }

   h2 {
      margin-bottom: 45px;
      text-align: left;
   }

   p {
      margin-bottom: 20px
   }

   .a_be {
      margin-top: 35px;
   }
}

.close {
   position: absolute;
   top: 20px;
   right: 17px;
   border-radius: 50%;
   background: rgba(0, 0, 0, 0.4);
   color: $yellow;
   font-size: 16px;
   padding: 2px;
   aspect-ratio: 1/1;
   width: 19px;
   text-align: center;
   cursor: pointer;
   transition: 0.7s;

   &:hover {
      background: rgba(0, 0, 0, 0.4);
      width: 34px;
      font-size: 32px !important;
   }
}

.no_xl {
   @include xl {
      display: none !important;
   }
}

.yes_xl {
   @include mob-and-t {
      display: none;
   }
}